/* Site desenvolvido por VINICIUS SANTOS, FELIPE E MANOEL LOBO */
/* Entre em contato com algum dos desenvolvedores: @vinisantoszx | @imanoellob_ | @lipe9   */


.text-services {
    display: flex;
    background-color: #002b64;
    color: white;
    height: 50px;
    
    justify-content: center;
    align-items: center;
}

.text-services h2 {
    display: flex;
    font-size: 20px;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bolder;
}


.card-container {
    width: 1200px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    padding: 30px 3%;
    background-color: rgb(221, 221, 221);
}
.full-box{
    padding: 20px 2%;
    border-radius: 20px;
    background-color: rgb(237, 237, 237);
}

.full-width-card {
    width: 100%;

    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: max-height 0.3s ease;

    overflow: hidden;

    background-color: #fff;
}

.card-header {
    color: white;
    padding: 10px 0 0 0;
    cursor: pointer;
    border-bottom: 1px solid #ccc;

    background-color: #002b64;
}

.card-header h2 {
    font-size: 18px;
    padding: 5px 10px 5px 10px;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.card-body {
    padding: 15px;
    max-height: 10px;
    transition: max-height 0.3s ease;

    background-color: white;
    color: black;
    overflow: hidden;
}

.card-body h2 {
    font-size: 18px;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bolder;
}
.cardh2 {
    color: rgb(106, 106, 106);
}

.card-body p {
    font-size: 16px;
    line-height: 1.25;

    text-align: justify;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;

    margin: 6px 0px;
}

.card-body.expanded {
    max-height: 500px;
}

#bold {
    font-size: 16px;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: 600;

    line-height: 1.5;
}

@media (max-width: 659px) {
    .full-box {
        padding: 10px 20px;
    }
}
