/* site desenvolvido por VINICIUS SANTOS */
/* entre em contato por @vinisantoszx*/

.text-services {
    margin-top: 20px;
}

.text-services h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.text-services p {
    font-size: 16px;
    margin: 10px 120px;
    text-align: justify;

    line-height: 22px;
    
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

/* carrossel de imagens */
.carossel {
    position: relative;
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
    height: 400px;
}

.carossel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carossel-inner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.carossel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.carossel-control.prev {
    left: 0;
}

.carossel-control.next {
    right: 0;
}

.carossel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.carossel-indicator {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carossel-indicator.active {
    background-color: #e98b38;
}

.video-box {
    width: 600px; 
    height: 340px;
    margin: 20px auto;
    border: 2px solid #ccc;
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: #000;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

ul.checklist {
    margin: 10px 20px;

    list-style-type: none;
    padding: 0;
}

ul.checklist li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.checkmark {
    width: 16px;
    height: 16px;

    display: inline-block;
    position: relative;

    background-color: #9acd32;
    border-radius: 50%;

    margin-right: 10px;
}   

.checkmark:hover {
    background-color: #9acd32;
}

.checkmark::after {
    width: 8px;
    height: 8px;

    position: absolute;
    content: '';
    display: block;
    border-radius: 50%;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
}

@media (max-width: 999px) {
    .img-history {
        flex-direction: column; /* Alinha as imagens em coluna */
        align-items: center; /* Centraliza as imagens */
    }

    .img-history img {
        width: 80%; /* Tamanho das imagens na coluna */
        margin: 10px 0; /* Espaço entre as imagens */
    }
}

@media (max-width: 659px) {
    .video-box {
        width: 350px; 
        height: 196px;

        margin: 20px auto;
        border: 2px solid #ccc;
        border-radius: 10px; 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

        overflow: hidden;
        background-color: #000;
    }

    .text-services {
        margin: 20px -40px 0px -40px;
    }

    ul.checklist {
        margin: 10px 60px;
    
        list-style-type: none;
        padding: 0;
    }

    .img-history img {
        width: 70%;
        margin: 10px 0;
    }
}