/* site desenvolvido por VINICIUS SANTOS */
/* entre em contato por @vinisantoszx*/

.main-menu {
    height: 20vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;

    background: #f5f8ff;
    border-bottom: #002b64 2px solid;

    overflow-x: hidden;

    z-index: 1000;
}

.nav-list {
    display: flex;
    list-style: none;

    padding: 0;
    margin: 0;

    align-items: center;
}

.nav-list li {
    margin-right: 40px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.link-nav {
    color: #002b64;
    text-decoration: none;

    font-family: "Merriweather Sans", system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-style: normal;

    transition: 0.3s;
}

#login {
    width: 100px;
    height: 40px;

    background-color: #008cef;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
}

#login a {
    text-decoration: none;

    color: #fff;
    font-weight: bold;
}


.link-nav:hover {
    opacity: 0.7;
}

.image-logo {
    height: 8vh;

    transition: 0.3s;
}

.image-logo:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;

    margin: 8px;
    transition: 0.3s;

    background-color: #002b64;
}


/* BREAKROW - UNIDADES ESCOLARES */
#break-school {
    display: none;
}

@media (max-width: 1200px) and (min-width: 1000px){
    #break-school {
        display: block;
    }
}


@media (max-width: 999px) {
    .nav-list {
        width: 100vw;
        height: 60vh;

        position: absolute;
        top: 20.1vh;
        right: 0;
        padding-bottom: 20px;

        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        
        border-bottom: #002b64 2px solid;
        
        transform: translateY(-140%);
        transition: transform 0.4s ease-in;

        background-color: #fcfcfc;

        z-index: 99;
    }

    .nav-list li {
        margin-right: 0px;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.dropdown-menu{
    display: none;
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}
