* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body::before {
    display: block;
    content: '';
    width: 100%;
    height: 368px;
    background: #002b64;
  
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  body, input, select, textarea {
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  
    background: #e5e5e5;
  }
  
  #page {
    width: 736px;
    margin: auto;
  }
  
  header {
    width: 319px;
  
    margin-top: 74px;
  }
  
  header h1 {
    font-family: 'Archivo', sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
    color: white;
  
    margin-bottom: 24px;
  }
  
  header p {
    color: #42D3FF;
    font-weight: 400;
    line-height: 26px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 48px;
  
    background: #FAFAFC;
    margin-top: 38px;
    min-height: 300px;
    padding: 64px;
  
    border-radius: 8px 8px 0 0;
  }
  
  fieldset {
    border: none;
  }
  
  .fieldset-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  fieldset legend {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
  
    width: 100%;
  
    padding-bottom: 1rem;
    border-bottom: 1px solid #e6e6f0;
  }
  
  .input-wrapper {
    display: flex;
    flex-direction: column;
  
    margin-bottom: 24px;
  }
  
  .input-wrapper label,
  .checkbox-wrapper {
    font-size: 14px;
    line-height: 24px;
  
    color: #4e4958;
  
    margin-bottom: 8px;
  }
  
  .input-wrapper label span {
    margin-left: 12px;
  
    font-size: 12px;
    line-height: 20px;
    color: #6c6a71;
  }
  
  .input-wrapper input,
  .input-wrapper textarea,
  .input-wrapper select {
    background: #FAFAFC;
  
    border: 1px solid #e6e6f0;
    border-radius: 8px;
  
    height: 56px;
  
    padding: 0 24px;
  
    line-height: 26px;
  
    color: #6c6a71;
  }
  
  .input-wrapper textarea {
    padding: 0;
  
    height: 168px;
  }
  
  .input-wrapper select {
    appearance: none;
  
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 24px top 50%;
  }
  
  .col-3 {
    display: flex;
    gap: 20px;
  }
  
  .col-3 > div:first-child {
    width: 100%;
  }
  
  .checkbox-wrapper {
    position: relative;
  }
  
  .checkbox-wrapper label {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
  }
  
  .checkbox-wrapper label::before {
    display: block;
    content: '';
    width: 24px;
    height: 24px;
    border: 1px solid #e6e6f0;
    border-radius: 8px;
  }
  
  .checkbox-wrapper input {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #e6e6f0;
    border-radius: 8px;
  
    opacity: 0;
  }
  
  .checkbox-wrapper input:checked + label::before{
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .checkbox-wrapper input:focus + label::before {
    outline: 2px solid black;
  }
  
  footer {
    display: flex;
    flex-direction: column;
  
    background: #f0f0f4;
  
    height: 136px;
  
    padding: 40px 64px;
    margin-bottom: 100px;
  
    border-top: 1px solid #d6d6d6;
    border-radius: 0 0 8px 8px;
  }
  
  footer .button {
    background: #002b64;
  
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    line-height: 26px;
    color: #fff;
  
    height: 56px;
  
    border: none;
    border-radius: 8px;
  }
  
  footer .button:hover {
    background: rgb(18, 48, 119);
  }
  
  input:invalid {
    border: 1px solid #ff1010;
  }
